@font-face {
  font-family: Metropolis;
  src: url(fonts/Metropolis-Regular.woff2);
  font-weight: 400;
  }
@font-face {
  font-family: Metropolis;
  src: url(fonts/Metropolis-Bold.woff2);
  font-weight: 700;
  }
@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}
.material-symbols-outlined {
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}
body{
  margin: 0;
  height: 100vh;
  width: 100%;
/*  background-image: url("assets/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;*/
  color: white;
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
}
#bg {
  display: none;
}
#bodyDiv{
  /*height: 80vh;*/
  width: 100%;
}
#bg_chara {
  opacity: 75%;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  left: -5rem;
  height: 95%;
  mix-blend-mode: screen;
  z-index: -1;
}
#bg_logo {
  opacity: 75%;
  position: fixed;
  bottom: -3rem;
  margin: 0;
  padding: 0;
  right: -3rem;
  height: 85%;
  mix-blend-mode: overlay;
  z-index: -2;
}
#hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
#navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
#navbarContent {
  position: relative;
  z-index: 2;
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#navbarLogoImg {
  height: 3rem;
}
#navbarBG {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  backdrop-filter: none;
  mask: linear-gradient(black, black, transparent) !important;
  transition: opacity 0.4s, backdrop-filter 0.4s;
  background: linear-gradient(to bottom, rgba(0, 68, 164, 0.5), rgba(0, 27, 64, 0.2));
}
.nav-colored{
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(8px) !important;
  backdrop-filter: blur(8px) !important;
}
.nav-transparent{
  opacity: 0 !important;
  backdrop-filter: none !important;
}
#navbarNav {
  display: flex;
  gap: 1rem;
}
#navbarNav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 6rem;
  justify-content: center;
}
.Typewriter {
  text-shadow: 0 2px 12px #000000;
  font-size: 5rem;
  text-align: center;
  font-family: 'Metropolis', sans-serif;
  font-weight: 700;
}
nav a{
  text-decoration: none;
  transition: 0.3s;
  color: white;
}
nav a:visited { 
  text-decoration: none; 
  color: white; 
 }
nav a:hover{
  color: #0079FF;
  font-weight: 700;
}
nav a:hover span{
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
#projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
}
#projectList a{
  width: 70%;
  text-decoration: none;
}
#projectList a.visited{
  color: white; 
}
@property --myColor1 {
  syntax: '<color>';
  initial-value: #0044A47F;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #001B407F;
  inherits: false;
}
.projectCard{
  background-image: linear-gradient(to bottom right, var(--myColor1), var(--myColor2));
  display: flex;
  padding: 2rem;
  color:white;
  border-radius: 1rem;
  gap: 1rem;
  transition: --myColor1 0.2s, --myColor2 0.2s;
}
.projectCard:hover {
  --myColor1: #0044A4FF;
  --myColor2: #001B40FF;
}
.projectCard img {
  border-radius: 0.5rem;
}
.projectCardInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.projectCardInfo h2 {
  margin: 0;
}
.projectCardInfo p {
  margin: 0;
}
.projectCardHText {
  font-size: 2rem;
  font-weight: bold;
}
.heroShelf {
  background-image: linear-gradient(to bottom right, rgba(0,68,164,0.5), rgba(0,27,64,0.5));
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color:white;
  border-radius: 1rem;
}
.imgShelf {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.imgShelf img {
  border-radius: 0.5rem;
}

.shelfTitleText {
  font-size: 1.5rem;
  font-weight: 600;
}

.shelfTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.heroShelf a{
  text-decoration: none;
  transition: 0.3s;
  color: white;
}
.heroShelf a:visited {
  text-decoration: none;
  color: white;
}
.heroShelf a:hover{
  color: #0079FF;
  font-weight: 700;
}
#heroTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
}

.aboutPage {
  display: flex;
  justify-content: center;
}

.aboutBox {
  background-image: linear-gradient(to bottom right, rgba(0,68,164,0.5), rgba(0,27,64,0.5));
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  color: white;
  border-radius: 1rem;
  width: 70%;
}
.aboutBox hr {
  width: 7rem;
  margin: 2rem auto;
  color: white;
  opacity: 50%;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: white;
}
.aboutBox p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -moz-font-feature-settings:"ss01" 1;
  -ms-font-feature-settings:"ss01" 1;
  -o-font-feature-settings:"ss01" 1;
  -webkit-font-feature-settings:"ss01" 1;
  font-feature-settings:"ss01" 1;
  font-size: 1.1rem;
}
.aboutBox h2 {
  margin-top: 0.5rem;
  font-style: italic;
}
.aboutBox h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.aboutBox a {
  transition: 0.3s;
  color: white;
}
.aboutBox a:visited {
  color: white;
}
.aboutBox a:hover {
  color: #0079FF;
}

@media only screen and (max-width: 1280px) {
  #projectList a{
    width: 100%;
  }
}

/* iOS Safari modifications */
/*@supports (-webkit-touch-callout: none) {
  @media screen and (max-width: 600px) {
    #bg {
      display: block;
      z-index: -3;
      height: 100vh;
      top: 0;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}*/

@media only screen and (max-width: 600px) {
  #bg {
    display: block;
    z-index: -3;
    height: 100vh;
    top: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #bg_chara {
    width: auto;
    height: 90vh;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #bg_logo {
    width: 110%;
    max-width: 40rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #navbarContent {
    padding-bottom: 2rem;
  }
  #heroTextContainer{
    height: 15rem;
  }
  .Typewriter {
    font-size: 3rem;
  }
  #navbar {
    justify-content: center;
    gap: 1rem;
  }
  #navbarContent {
    justify-content: center;
    gap: 1rem;
  }
  #navbarLogoImg {
    width: 100%;
    height: auto;
  }
  .projectCard {
    flex-direction: column;
  }
  .projectCardHText {
    font-size: 1.75rem;
  }
  .aboutBox {
    width: auto;
    margin: 0;
  }
  .aboutBox p {
    font-size: 1rem;
  }
}
